@import 'src/theme/mixins.scss';

.logo-container {
  height: 20%;
  @include flex(flex, row, center, center);
  .logo {
    height: 50pt;
  }
}

.skeleton {
  @include size-card-list(70pt, 10pt);
  box-shadow: 2pt 2pt 4pt var(--ion-color-card-list-shade);
}

