<ion-content>
  <div class="flex justify-content-center align-items-center logo-container">
    <img class="logo" src="assets/image/marvel.svg">
  </div>
  <ng-container *ngIf="hasCharacters; else skeleton">
    <app-char-card-list
      *ngFor="let character of characters"
      [character]="character"
      (click)="goToDetail(character)"
    ></app-char-card-list>
  </ng-container>
  <ng-template #skeleton>
    <ion-skeleton-text animated class="skeleton rounded-10" *ngFor="let skeleton of skeletons"></ion-skeleton-text>
  </ng-template>
</ion-content>
